*{
    margin: 0;
    padding: 0;
}
.header {
    background-color:mediumblue;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: sticky;
    top: 0;
    z-index: 999;
}
.header img {
    width: 70px;
    height: 70px;
}

.header ul {
    list-style:  none;
    display: flex; 
    margin-left: auto;
}

.header ul li {
    margin: 0 15px;
}

.header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
h4{
    text-decoration: none;
    color: aliceblue;
}

